<div class="row">
	<div id="banner-container" class="col s12 white">
		<div id="banner-full" class="col l8 offset-l2 m10 offset-m1">
			<div id="banner-text">
				<h1 class="banner-primary-text">Hey! I'm Cael Jensen,</h1>
				<h2 class="banner-secondary-text">I have a passion<br />&emsp;&emsp;for creating things.</h2>
			</div>
			<div class="hide-on-small-only">
				<%= image_tag("bannerFull.jpg") %>
			</div>
			<div class="hide-on-med-and-up">
				<%= image_tag("bannerClipped.jpg") %>
			</div>
		</div>
	</div>
	<div id="content-column" class="col l8 offset-l2 m10 offset-m1 s12">
		<div id="navbar" class="col s12">
			<a href="/" class="col s4 flow-text">About Me</a>
			<a href="/portfolio" class="col s4 flow-text middle-button selected">Portfolio</a>
			<a href="/contact" class="col s4 flow-text">Contact Me</a>
		</div>

	
		<section class="portfolio col s12">
			<h6>- click to expand -</h6>
			<div class="portfolio-header websites col s12">
				<h3>Websites</h3>
			</div>
			<div class="portfolio-body websites-body col s12">

				<div class="portfolio-item col s12 valign-wrapper">
					<div class="col m5 s8 offset-s2 valign">
						<a href="http://schedule-bee.herokuapp.com/" target="_blank"><%= image_tag("website-schedulebee.jpg") %></a>				
					</div>
					<div class="port-item-text col m7 s12 valign">
						<h5><a href="http://schedule-bee.herokuapp.com/" target="_blank">ScheduleBee</a></h6>
						<p>ScheduleBee is an employee scheduler created as my final group project for class at DevPoint Labs. I focused primarily on front-end logic, UX, and graphic design, but also played a strong role in the server-side Ruby on Rails portion of the app.</p>
						<p>Technologies: <i>Ruby, Rails, jQuery, ReactJS, Redux, AJAX, PostgreSQL, HTML, CSS</i></p>
					</div>
				</div>

				<div class="portfolio-item col s12 valign-wrapper">
					<div class="col m5 s8 offset-s2 valign">
						<a href="http://marbescreations.com/" target="_blank"><%= image_tag("website-marbes.jpg") %></a>					
					</div>
					<div class="port-item-text col m7 s12 valign">
						<h5><a href="http://marbescreations.com/" target="_blank">Marbe's Knitted Creations</a></h6>
						<p>Freelance project I created with self-taught knowledge from before I attended DevPoint Labs.</p>
						<p>Technologies: <i>PHP, SQL, HTML, CSS</i></p>
					</div>
				</div>

				<div class="portfolio-item col s12 valign-wrapper">
					<div class="col m5 s8 offset-s2 valign">
						<a href="http://acutaboveutah.com/" target="_blank"><%= image_tag("website-acutabove.jpg") %></a>					
					</div>
					<div class="port-item-text col m7 s12 valign">
						<h5><a href="http://acutaboveutah.com/" target="_blank">A Cut Above</a></h6>
						<p>Freelance project for a local company, created before I attended DevPoint Labs.</p>
						<p>Technologies: <i>HTML, CSS</i></p>
					</div>
				</div>

				<div class="portfolio-item col s12 valign-wrapper">
					<div class="col m5 s8 offset-s2 valign">
						<a href="http://redcenturyclothing.com/" target="_blank"><%= image_tag("website-redcentury.jpg") %></a>					
					</div>
					<div class="port-item-text col m7 s12 valign">
						<h5><a href="http://redcenturyclothing.com/" target="_blank">Red Century Clothing</a></h6>
						<p>Online storefront I created for the clothing brand I started and ran for a few years. Now defunct.</p>
						<p>Technologies: <i>HTML, CSS, PayPal Integration</i></p>
					</div>
				</div>

			</div>
		</section>

		<section class="portfolio col s12">
			<div class="portfolio-header logos col s12">
			<h3>Logos</h3>
			</div>
			<div class="portfolio-body logos-body col s12">

				<div class="col s10 offset-s1 portfolio-infobox">
					<p>These logos were created for personal projects, just for fun, or often for friends who were pursuing their big dreams.</p>
				</div>

				<div class="col s12">
					<div class="col m4 s6 logobox">
							<%= image_tag("logo-redcentury.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-seventeen.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-outsidecorner.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-rgby.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-paperfine.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-lotusink.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-komodo.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-migliacci.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-siglorojo.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-crjd.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-acutabove1.jpg") %>
					</div>

					<div class="col m4 s6 logobox">
						<%= image_tag("logo-acutabove2.jpg") %>
					</div>
				</div>

			</div>
		</section>

		<section class="portfolio col s12">
			<div class="portfolio-header apps col s12">
			<h3>App Design</h3>
			</div>
			<div class="portfolio-body apps-body col s12">

				<div class="col s10 offset-s1 portfolio-infobox">
					<p>While I currently only have one app available publicly, I really look forward to creating and publishing more in the future!</p>
				</div>

				<div class="portfolio-item col s12 valign-wrapper">
					<div class="col m5 s8 offset-s2 valign">
						<a href="https://play.google.com/store/apps/details?id=com.redmoshgames.seventeen" target="_blank"><%= image_tag("app-seventeen.jpg") %></a>					
					</div>
					<div class="port-item-text col m7 s12 valign">
						<h5><a href="https://play.google.com/store/apps/details?id=com.redmoshgames.seventeen" target="_blank">Seventeen</a> <br class="hide-on-med-and-up" /><small>(Android App)</small></h6>
						<p>I woke up with the idea for a game, so I learned the skills necessary to make it a reality.  All graphics, algorithms, concepts, etc. were created by me.  This was a fun learning project that currently has 500+ downloads and a 4.8-star rating in the Google Play store.</p>
						<p>Technologies: <i>Clickteam Fusion</i></p>
					</div>
				</div>

			</div>
		</section>

		<section class="portfolio col s12">
			<div class="portfolio-header artprep col s12">
			<h3>Art Prep</h3>
			</div>
			<div class="portfolio-body artprep-body col s12">
				<h4>Coming Soon!</h4>
			</div>
		</section>

		<section class="portfolio col s12">
			<div class="portfolio-header music col s12">
			<h3>Music</h3>
			</div>
			<div class="portfolio-body music-body col s12">

				<div class="col s10 offset-s1 portfolio-infobox">
					<p>A few years ago I wanted to try my hand at creating music.  These tracks are what came out of that short foray into the realm of music creation.</p>
				</div>
				
				<div class="col s12 portfolio-item">
					<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/48790202&amp;color=7900da&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>

				<div class="col s12 portfolio-item">
					<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/47609278&amp;color=7900da&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>

				<div class="col s12 portfolio-item">
					<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/47467744&amp;color=7900da&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>

				<div class="col s12 portfolio-item">
					<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/47468132&amp;color=7900da&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>

			</div>
		</section>

	</div>

	<!-- extends white column to bottom of page on med and up -->
	<div id="column-filler" class="col l8 offset-l2 m10 offset-m1 s12">
		<div class="col s12 white" style="height:100%"></div>
	</div>

	<!-- extends white background to bottom of page on small -->
	<div id="column-filler-small" class="col l8 offset-l2 m10 offset-m1 s12 hide-on-med-and-up">
		<div class="col s12 white" style="height:100%"></div>
	</div>
</div>