<div class="row">
	<div id="banner-container" class="col s12 white">
		<div id="banner-full" class="col l8 offset-l2 m10 offset-m1">
			<div id="banner-text">
				<h1 class="banner-primary-text">Hey! I'm Cael Jensen,</h1>
				<h2 class="banner-secondary-text">I have a passion<br />&emsp;&emsp;for designing things.</h2>
			</div>
			<div class="hide-on-small-only">
				<%= image_tag("bannerFull.jpg") %>
			</div>
			<div class="hide-on-med-and-up">
				<%= image_tag("bannerClipped.jpg") %>
			</div>
		</div>
	</div>
	<div id="content-column" class="col l8 offset-l2 m10 offset-m1 s12">
		<div id="navbar" class="col s12">
			<a href="/" class="col s4 flow-text">About Me</a>
			<a href="/portfolio" class="col s4 flow-text middle-button selected">Portfolio</a>
			<a href="/contact" class="col s4 flow-text">Contact Me</a>
		</div>
	
		<section class="portfolio col s12">
			<div class="portfolio-header websites col s12">
				<h3>Websites</h3>
			</div>
			<div class="portfolio-body col s12">

				<div class="portfolio-item col s12 valign-wrapper">
					<div class="col m5 s8 offset-s2 valign">
						<a href="http://schedule-bee.herokuapp.com/" target="_blank"><%= image_tag("website-schedulebee.jpg") %></a>				
					</div>
					<div class="port-item-text col m7 s12 valign">
						<h5><a href="http://schedule-bee.herokuapp.com/" target="_blank">ScheduleBee</a></h6>
						<p>ScheduleBee is an employee scheduler created as a final group project for class at DevPoint Labs.</p>
						<p>Technologies: <i>Ruby, Rails, jQuery, React, Redux, AJAX, PostgreSQL, HTML, CSS</i></p>
					</div>
				</div>

				<div class="portfolio-item col s12 valign-wrapper">
					<div class="col m5 s8 offset-s2 valign">
						<a href="http://marbescreations.com/" target="_blank"><%= image_tag("website-marbes.jpg") %></a>					
					</div>
					<div class="port-item-text col m7 s12 valign">
						<h5><a href="http://marbescreations.com/" target="_blank">Marbe's Knitted Creations</a></h6>
						<p>Created as a freelance project with self-taught knowledge before I attended DevPoint Labs.</p>
						<p>Technologies: <i>PHP, SQL, HTML, CSS</i></p>
					</div>
				</div>

				<div class="portfolio-item col s12 valign-wrapper">
					<div class="col m5 s8 offset-s2 valign">
						<a href="http://redcenturyclothing.com/" target="_blank"><%= image_tag("website-redcentury.jpg") %></a>					
					</div>
					<div class="port-item-text col m7 s12 valign">
						<h5><a href="http://redcenturyclothing.com/" target="_blank">Red Century Clothing</a></h6>
						<p>Created to sell t-shirts for the clothing brand I started in my early 20s.</p>
						<p>Technologies: <i>HTML, CSS, PayPal</i></p>
					</div>
				</div>

			</div>
		</section>

		<section class="portfolio col s12">
			<div class="portfolio-header logos col s12">
			<h3>Logos</h3>
			</div>
			<div class="portfolio-body col s12">
				<h4>Coming Soon!</h4>
			</div>
		</section>

		<section class="portfolio col s12">
			<div class="portfolio-header apps col s12">
			<h3>App Design</h3>
			</div>
			<div class="portfolio-body col s12">
				<h4>Coming Soon!</h4>
			</div>
		</section>

		<section class="portfolio col s12">
			<div class="portfolio-header artprep col s12">
			<h3>Art Prep</h3>
			</div>
			<div class="portfolio-body col s12">
				<h4>Coming Soon!</h4>
			</div>
		</section>

		<section class="portfolio col s12">
			<div class="portfolio-header music col s12">
			<h3>Music</h3>
			</div>
			<div class="portfolio-body col s12">
				<h4>Coming Soon!</h4>
			</div>
		</section>

	</div>

	<!-- extends white column to bottom of page on med and up -->
	<div id="column-filler" class="col l8 offset-l2 m10 offset-m1 s12">
		<div class="col s12 white" style="height:100%"></div>
	</div>

	<!-- extends white background to bottom of page on small -->
	<div id="column-filler-small" class="col l8 offset-l2 m10 offset-m1 s12 hide-on-med-and-up">
		<div class="col s12 white" style="height:100%"></div>
	</div>
</div>